@import '../../colors.scss';

.authentication-container {
  width: min(70vw, 500px);
  display: fl;
  .authentication-tabs {
    display: flex;
    align-items: center;
    justify-content: center;

    .authentication-tab {
      flex-grow: 2;
      .authentication-tab-button {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        border: none;

        background-color: $COLOR_PRIMARY_FADED;
        transition: background-color 700ms;
        cursor: pointer;
      }

      &--active {
        @extend .authentication-tab;

        .authentication-tab-button {
          background-color: $COLOR_PRIMARY;
        }
      }
    }
  }
}

.authInput-container {
  padding: 10px 40px;
  background-color: $COLOR_BG_ALT;
  display: flex;
  flex-flow: column;
  p {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
    color: $COLOR_TEXT_ALT;
  }
  .input-container, .input-container--black {
    margin: 20px 0;
    input {
      width: 100%;
    }
  }

  button {
    align-self: flex-end;
  }
}