@import '../../colors.scss';


.movie-tag, .movie-tag-active {
  button {
    padding: 4px 8px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid $COLOR_PRIMARY_FADED;
    transition: 300ms background-color;
    font-weight: bold;
  }
}

.movie-tag-active {
  button {
    border: 2px solid $COLOR_PRIMARY;
    background-color: $COLOR_PRIMARY;
  }
}