@import '../../colors.scss';


.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0px min(40px, 10vw);
  background-color: hsl(0, 0%, 4%);
  position: relative;
  z-index: 100;

  .header-user {
    display: flex;
    align-items: center;

    .header-user-profile {
      display: flex;
      align-items: center;
      margin-right: 10px;

      img {
        border-radius: 100%;
        border: solid 2px $COLOR_PRIMARY;
        margin-right: 10px;
      }

      p {
        margin: 0;
      }
    }

    button {
      background: transparent;
      color: $COLOR_PRIMARY_FADED;
      width: fit-content;
      height: fit-content;
      padding: 0;
    }
  }
}

.sidebar-container,
.sidebar-container-small {
  padding: 60px 0px;
  position: fixed;
  top: 0;
  background-color: $COLOR_PRIMARY_FADED;
  height: 100vh;

  .sidebar-nav {
    margin-bottom: 10px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
        list-style: none;

        button {
          display: flex;
          text-align: start;

          svg {
            width: 20px;
            height: 20px;
          }

          &.button--sidebar-page-selected {
            background-color: $COLOR_PRIMARY;
          }
        }
      }
    }
  }

  .sidebar-activities {
    display: flex;
    flex-flow: column;
    padding: 0px 8px;
    margin: 4px;
    height: fit-content;
    background-color: $COLOR_BG_FADED;
    height: 80%;
    overflow: scroll;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: column;
      li {
        margin: 8px 0px;
        p {
          margin: 0;
        }
      }
    }

    .sidebar-activities-header {
      font-weight: bold;
      text-decoration: underline;
      font-size: 25px;
      margin: 16px 0px;
    }
  }
}

.sidebar-container {
  width: min(250px, 20vw);

  .sidebar-nav {
    ul li .button--sidebar-page {
      align-items: start;
      width: 100%;
      align-items: center;
      height: 50px;

      svg {
        margin: 0px 10px 0px 0px;
      }

      label {
        margin: 0;
        margin-bottom: 5px;
        width: fit-content;
        height: 25px;
        line-height: 30px;
        display: flex;
        word-wrap: nowrap;

      }

      &-selected {
        @extend .button--sidebar-page;

        &::after {
          content: url('/arrow-right.svg');
          margin-left: auto;
          margin-right: 5px;
        }
      }
    }
  }

  &-small {
    width: 50px;
    

    .sidebar-nav {
      ul li button {
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 50px;
      }
    }
  }
}