@import '../../colors.scss';

.input-container {

  .input-label {
    svg {
      margin-right: 4px;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid $COLOR_PRIMARY;
    background-color: transparent;
    background-color: $COLOR_BG_FADED;
    &:focus-visible {
      outline: 1px solid $COLOR_PRIMARY;
    }
  }

  &--black {
    @extend .input-container;
    input {
      color: $COLOR_TEXT_ALT;
      background-color: $COLOR_BG_ALT;
    }
    .input-label {
      label {
        color: $COLOR_TEXT_ALT;
      }
      svg {
        color: #ababab;
      }
    }
  }
}


.select_input-container {
  select {
    border: none;
    border-bottom: 1px solid $COLOR_PRIMARY;
    background-color: $COLOR_BG_FADED;
    font-size: 13px;
  }
}

$SEARCH_BAR_FADED_TEXT: #777777;
$SEARCH_BAR_TEXT: #ffffff;
$SEARCH_BAR_TRANSITION: color 700ms;

.search_bar-container {
  border-radius: 30px;
  padding: 4px 6px;
  background-color: $COLOR_BG_FADED;
  display: flex;
  align-items: center;
  svg {
    transition: $SEARCH_BAR_TRANSITION;
    margin-right: 4px;
    color: $SEARCH_BAR_FADED_TEXT;
    cursor: pointer;
  }
  input {
    transition: $SEARCH_BAR_TRANSITION;
    background-color: transparent;
    color: $SEARCH_BAR_FADED_TEXT;
    border: none;
    flex-grow: 1;
  }

  &--active {
    @extend .search_bar-container;
    svg {
      color: $SEARCH_BAR_TEXT;
    }
    input {
      color: $SEARCH_BAR_TEXT;
    }
  }
}