@import '../../colors.scss';

.input-container {

  .input-label {
    svg {
      margin-right: 4px;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid $COLOR_PRIMARY;
    background-color: transparent;
    color: $COLOR_TEXT;
    background-color: $COLOR_BG_FADED;
  }

  &--black {
    @extend .input-container;
    input {
      color: $COLOR_TEXT_ALT;
      background-color: $COLOR_BG_ALT;
    }
    .input-label {
      label {
        color: $COLOR_TEXT_ALT;
      }
    }
  }
}


.select_input-container {
  select {
    border: none;
    border-bottom: 1px solid $COLOR_PRIMARY;
    background-color: $COLOR_BG_FADED;
    color: $COLOR_TEXT;
    font-size: 13px;
  }
}

.button {
  border: none;
  background-color: $COLOR_PRIMARY_FADED;
  color: $COLOR_TEXT;
  padding: 6px;
  cursor: pointer;
  svg {
    margin-right: 4px;
    cursor: pointer;
  }
  label {
    cursor: pointer;
  }

  &:hover {
    background-color: $COLOR_PRIMARY;
  }
}