.dashboard-container {
  .dashboard-content {
    padding: 0px 50px;
  }
}

.homepage-container {
  .homepage-filters {
    margin: 20px 0px;
  }

  .homepage-movies {
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 5px 10px;
    }
  }
}