@import '../../colors.scss';


.dashboard-container {
  .dashboard-content {
    padding: 0px 60px;
  }
}

.homepage-container {
  .homepage-filters {
    margin: 20px 0px;
  }

  .homepage-movies {
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 5px 10px;
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
    }
  }

  .homepage-pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }
}


.favorites-container {
  .favorites-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $COLOR_PRIMARY;
    font-weight: normal;
    font-size: 50px;
  }

  .favorites-movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 5px 10px;
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
    }
  }
}

.watchlater-container {
  .watchlater-title {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: $COLOR_PRIMARY;
    font-weight: normal;
    font-size: 50px;
  }

  .watchlater-movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin: 5px 10px;
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
    }
  }
}