@import './colors.scss';

* {
  font-family: 'Roboto', sans-serif;
}

p, button, input, select {
  color: $COLOR_TEXT;
}

button {
  border: none;
  background-color: $COLOR_PRIMARY_FADED;
  padding: 6px 16px;
  cursor: pointer;
  svg {
    margin-right: 4px;
    cursor: pointer;
  }
  label {
    cursor: pointer;
  }

  &:hover {
    background-color: $COLOR_PRIMARY;
  }
}

body {
  padding: 0px 0px;
  background-color: $COLOR_BG;
  color: $COLOR_TEXT;
}

.text-color-primary {
  color: $COLOR_PRIMARY;
}

.text-color-primary-faded {
  color: $COLOR_PRIMARY_FADED;
}

main {
  padding: 0px 45px;
}